.avg-container>.row:not(.readings-header) {
    margin-top: 100px;
    padding-left: 22%;
}


.icon-container {
    width: 75px;
    height: 75px;

    border-radius: 50%;

    justify-content: center;
}

.chart-container>.row>.col {
    padding: 100px 100px 0 100px;
}

.chart-wrapper {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

.custom-icon {
    max-height: 80%;
    max-width: 80%
}

.reading-display {
    margin-left: 20px;
}

.select-container {
    padding: 0 10px 0 10px;

    border-radius: 5px;
}