.avg-container>.row {
    margin-top: 100px;
}

.avg-container>.row:not(.readings-header) {
    padding-left: 22%;
}


.icon-container {
    width: 75px;
    height: 75px;

    border-radius: 50%;

    justify-content: center;
}

.custom-icon {
    max-height: 80%;
    max-width: 80%
}

.reading-display {
    margin-left: 20px;
}

.select-container {
    padding: 0 10px 0 10px;

    border-radius: 5px;
}